{% load render_table from django_tables2 %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица рейсов</title>
</head>
<body>
    <a href="{% url 'arrive' %}">Прибытие</a>
    <a href="{% url 'depart' %}">Вылет</a>
    <p>Сейчас {{ now }}</p>
    {% if filter %}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    {% endif %}
    <p>Рейсов: {{ flight_count }}</p>
    {% render_table table 'django_tables2/bootstrap.html' %}
</body>
</html>
